body {
	background-color: #f3f3f3;
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;

}

a {
	color:#000000;
	text-decoration: none;
}

.wrapper {
	text-align: center;
    width: 1220px;
    margin: 0 auto;
    max-width: 100%;
    padding:0;
    padding-top: 50px;
    padding-bottom: 1.80em;
    display: block;
}

.project {
	position: relative;
}

.project-image {
	width: 58%;
	display: inline-block;
	height: auto;
	float:left;
	vertical-align: middle;
	margin-bottom: 30px;
	border-radius: 4px;
}

 .project-image-file {
	max-width: 100%;
	height: auto;
	display: block;
	vertical-align: middle;
 }

.project > video {
	width: 58%;
	display: inline-block;
	padding: 60px 20px 40px 20px;
	height: auto;
	display: inline-block;
	float:left;
	vertical-align: middle;
	margin-bottom: 30px;
	border-radius: 4px;

}

.project > img {
	display: inline-block;
	float:left;
}

.project-bkgd-img {
	position: relative;
    display: inline-block;
    float: left;
    background-color: #FFF;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 510px;
    width: 55%;
    margin-bottom: 24px;

}

#combo-cell {
	height: auto;
	display: inline-block;
	float:left;
	width: 60.9%;
	border-radius: 4px;
	margin-bottom: 30px;
}

.project:hover > img{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.18),0 5px 5px 0 rgba(0,0,0,0.22);
    -webkit-transition: all 300ms ease-out; /* For Safari 3.1 to 6.0 */
    transition: all 300ms ease-out;
}
.project:hover #combo-cell{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.18),0 5px 5px 0 rgba(0,0,0,0.22);
    -webkit-transition: all 300ms ease-out; /* For Safari 3.1 to 6.0 */
    transition: all 300ms ease-out;
}

.project:hover video{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.18),0 5px 5px 0 rgba(0,0,0,0.22);
    -webkit-transition: all 300ms ease-out; /* For Safari 3.1 to 6.0 */
    transition: all 300ms ease-out;
}

.project:hover .work-project-title{
    	color:#009688;
}

.project-type {
	font-size:1em;
	font-weight: 500;
	letter-spacing: .005em;
	line-height: 1.3em;
	color:#8e8e8e;
}

.project-product-title {
	font-size: 1.5em;
	text-transform: capitalize;
	font-weight: 700;
	letter-spacing: .005em;
	line-height: 1.6em;
	color:#5d5d5d;
}

.project-brand-line {
	font-size: 1em;
	font-weight: 400;
	letter-spacing: .005em;
	line-height: 1.5em;
	margin-top:24px;

}

.project-details-line {
	font-size: 1em;
	font-weight: 200;
	letter-spacing: .005em;
	line-height: 1.3em;
	text-transform: capitalize;
}

.project-date-line {
	font-size: .8em;
	font-weight: 200;
	letter-spacing: .005em;
	line-height: 1.3em;
}


.project-titles {
	overflow: hidden;
    padding-top: 200px;
    color: white;
    text-transform: uppercase;
	margin: auto;
	float: left;
	color:#4d4d4d;
	width: 45%;
	text-align: center;
	vertical-align: middle;
	position: relative;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.work-project-title {
	font-size: 2.0rem;
	color:#414042;
	font-weight: 200;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.work-project-subtitle {
	font-size: .9rem;
	color:#808080;
	line-height: 2rem;
	letter-spacing: .01rem;

}

.work-project-skills {
	font-size: .9rem;
	padding-top: 20px;
	color:#808080;
	line-height: 2rem;
	letter-spacing: .01rem;
	font-weight: 100;
}


.white {
	background-color: #ffffff;
}
.grey-200 {
	background-color: #e7e7e7;
}
.pink-50 {
	background-color: #FCE4EC;
}

.grey-ce {
	background-color: #cecece;
}
.image-holder {
    vertical-align: middle;
    margin-top: auto;
    width:61%;
    padding-bottom: 40%;
    position: relative;
    overflow: hidden;
	border-radius: 4px;
	float: left;
	margin-bottom: 30px;
}

.video-frame {
  position: absolute;
  z-index: 0;
  width: 100%;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  overflow: hidden; 
}

.mobile-screen-shot {
	width:25% !important;
	padding: 60px 20px 60px 20px !important;
	display: inline !important;
	overflow: hidden; 
}

#genie {
	padding: 40px 0px 40px 40px; 
	width:58%;
}

#pure-image {
	padding:0; 
	width:60.9%
}

.psios {
	width: 500px;
}


@media only screen and (max-width: 1000px) {

	.wrapper {
		width:98%;
	}
.project-type {
	font-size:.8em;
	font-weight: 500;
	letter-spacing: .005em;
	line-height: 1.3em;
	color:#8e8e8e;
}

.project-product-title {
	font-size: 1em;
	font-weight: 700;
	letter-spacing: .01em;
	text-transform: capitalize;
	line-height: 1.5em;
	color:#5d5d5d;
}

.project-brand-line {
	font-size: .8em;
	font-weight: 400;
	letter-spacing: .02em;
	line-height: 1.5em;
}

.project-details-line {
	font-size: .8em;
	font-weight: 400;
	letter-spacing: .01em;
	line-height: 1.5em;
	text-transform: capitalize;
}

.project-date-line {
	font-size: .7em;
	font-weight: 400;
	letter-spacing: .01em;
	line-height: 1.2em;
	margin-top:12px;
}

.project-titles {
	width:100%;
	padding-top: 0px;
	margin-bottom: 32px;


}

.image-holder {
	width: 95%;
	float: initial;
	display: inline-block;
    padding-bottom: 60%;

}

.project > img {
	height: auto;
	display: inline-block;
	float: initial;
	vertical-align: middle;
	margin-bottom: 30px;
	border-radius: 4px;

}


}


@media only screen and (max-width: 767px) { 


.project-bkgd-img {
position: relative;
    display: block;
    float: left;
    background-color: #FFF;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 1000px;
    height: 360px;
    width: 100%;
}


#pure-image {
	width:98%;
}

.image-holder {
	margin-bottom: 10px;
	width: 98%;
}
.project > img {
	width: 100%;
	height: auto;
	display: inline-block;
	float: initial;
	vertical-align: middle;
	margin-bottom: 10px;
	border-radius: 4px;
}

.project > video {
	padding: 10px 10px;
	width: 93%;
	margin-bottom: 10px;
}


.work-project-title {
	font-size: 1.4rem;
	color:#414042;
	font-weight: 400;
}

.work-project-subtitle {
	font-size: .9rem;
	color:#808080;
	line-height: 1.6rem;
	letter-spacing: .01rem;

}

.work-project-skills {
	font-size: .9rem;
	padding-top: 20px;
	color:#808080;
	line-height: 2rem;
	letter-spacing: .01rem;
	font-weight: 100;
	display: none;
}

}

.color-me {
	 -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none; 
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  moz-tap-highlight-color: rgba(0, 0, 0, 0);
  min-height: 120%;
  overflow:hidden;


}


