.header {
	height: 110px;
    width: 90%;
    max-width: 1220px;
    text-align: left;
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 12px;
/*    border-bottom: .5px solid;
    border-bottom-color: #c7c7c7;*/
}

.title h1 {
	left: initial;
	margin-left:1.1rem;
	padding-left: 48px;;
	text-align: left;
	font-size:17pt;
    letter-spacing: .02em;
    font-weight: 500;
	color:black;
	position: relative;
	margin-top: 18px;
	margin-bottom: 0px;
}

.nav {
	width: 90%;
    right: initial;
    /* text-align: center; */
    /* margin: auto; */
    /* text-align: center; */
    list-style-type: none;
    padding-left: 48px;
    padding-top: 16px;
    position: relative;
    margin-top: 11px;


}

.small {
	z-index: 20;
	position: fixed;
	width:100%;
	height: 60px;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 2px rgba(0,0,0,.2);
}


.ltgrey-bg {
	background-color: #fafafa;
}

h3 {
	text-align: center;
	font-size: .7rem;
	margin:0;
    letter-spacing: .025em;
	font-weight:500;
}




.mini-hero-me {
    width: 179px;
    margin-left: 100px;
    margin-top: -40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 158px;
    display: none;
}
hr {
	color: #eaeaea;
    border-width: .5px;

}


/* Header */



.nav-item {
	text-align: center;
	display:inline;
	font-size: 9pt;
	font-weight: 300;
/*	padding: 1rem;*/
	letter-spacing: .1em;
	background-color: initial;
		-webkit-transition: background-color 940ms;
    -moz-transition: background-color 940ms;
}

.nav-item a{
	color:#414042;
	padding: 1.2rem;
	font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .04em;
	background-color: initial;
		-webkit-transition: background-color 940ms;
    -moz-transition: background-color 940ms;
}

.nav .nav-item:hover a{
	background-color:rgba(92, 182, 161, 0.43);
	-webkit-transition: background-color 940ms;
    -moz-transition: background-color 940ms;
}

.nav .nav-item:hover a{
	color: #2D2D2D;
}

.nav .nav-item a:focus {
	border-bottom: 2px solid;
}

a:active {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
}

.selected { 
	background-color: rgba(92, 182, 161, 0.43)!important;
 }


@media screen and (max-width: 800px) { 

	.header {
		height: 100px;
		padding-top: 8px;
		width: 100%;
	}

	.title h1 {
		width: 100%;
		left: initial;
		margin:auto;
		padding:0px;
		text-align: center;
		font-size:17pt;
		letter-spacing: .01em;
		color:black;
		position: relative;
		margin-top: 18px;
	}

	.nav {
		width: 100%;
		right: initial;
		text-align: center;
		margin:auto;
		text-align: center;
		list-style-type: none;
		padding: initial;
		padding-top: 10px;
		position: relative;
		margin-top: 11px;


	}

	.nav-item {

		font-size: 8pt

	}

	.nav-item a{
	color:#414042;
	padding: .82rem;
	font-weight: 500;
	line-height: 2.5rem;

	background-color: initial;
		-webkit-transition: background-color 940ms;
    -moz-transition: background-color 940ms;
}



}