/* Footer */

.footer-title {
	font-weight: 500;
	font-size: 1.5rem;
	letter-spacing: .05rem;
	text-align: center;
	color: #696969;
	padding-top:16px; 
	padding-bottom:60px
}

.footer-note {
	font-weight: 200;
	font-size: .8rem;
	letter-spacing: .01rem;
	text-align: center;
	color: #696969;
}


.footer-wrapper{
	height: 300px;
	width:100%;
	background-color: #FFFFFF;
	/*border-top:#afafaf 1px solid;*/
}

.footer {
	margin:auto;
	padding: initial;
	padding-top: 125px;
	text-align: center;
	list-style-type: none;
	padding-bottom: 70px

}

.footer-links {
	text-align: center;
	display:inline-block;
	font-size: .7rem;
	font-weight: 300;
	padding-left: 2rem;
	padding-right: 2rem;
	letter-spacing: .01em;
}

.footer-links a {
	color: #505050;
}

.footer-links img {
	width:36px;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	opacity: .7;
}