html, body {
	background-color: #fafafa;
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	min-height: 100%;
	height: 100%;
	position: relative;

}

a {
	color:#000000;
	text-decoration: none;
}

.color1 {
	background-color: #3FADC6;
}

.color2 {
	background-color: #54DEFD;
}

.hero-me {
	width:20%;
	margin-left: .8rem;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 200px;
}

.shift {
	margin-left:-.8rem;
}


.wrapper-index {
	text-align: center; 
    position: relative;
    width: 90%;
    max-width: 1220px;
    margin: 0 auto;
    display: block;
    padding-top: 60px;
    min-height: 70%;
}

 .split-header {
 	text-align: left;
    font-weight: 500;
    letter-spacing: .02em;
    margin: 0;
    padding-top: 45px;
    margin-bottom: 58px;
    padding-left: 48px;
    margin-left: 1.1rem;

 }


.project-square {
	display:inline-block;
	width:48%;
	margin-left: .8rem;
	margin-bottom: .8rem;
/*	padding-right: 8px;
/*	border-radius: 2px;*/
	box-shadow: initial;
    height: 400px;
    vertical-align: top;
    background-size: 100%;
    background-repeat: no-repeat;
   	background-position: center center;
	-webkit-transition: all 300ms cubic-bezier(0.01, 0.98, 0.9, 1.01); /* For Safari 3.1 to 6.0 */
    transition: all 300ms cubic-bezier(0.01, 0.98, 0.9, 1.01);

	
}

.project-image {
	width: 100%;
	height: 100%;

	/*height: 300px;*/
	background-position: center center; 
	background-color: initial;
	-webkit-transition: background-position 100ms ease; /* For Safari 3.1 to 6.0 */
    transition: background-position 100ms ease;
}

.bg {
	background-color: #54DEFD;
	box-shadow: initial;
	-webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
    transition: all 1s;

}

.shadow {
	height: 100%;
	width:100%;
}

.project-square:hover .bg{
	background-color: #F5F5F5;

	-webkit-transition: background-color 300ms; /* For Safari 3.1 to 6.0 */
    transition: background-color 300ms;
    transition-timing-function: ease-out;

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2),0 5px 5px 0 rgba(0,0,0,0.24);
    -webkit-transition: all 300ms ease-out; /* For Safari 3.1 to 6.0 */
    transition: all 300ms ease-out;
}

.project-square:hover .shadow{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2),0 5px 5px 0 rgba(0,0,0,0.24);
    -webkit-transition: all 300ms ease-out; /* For Safari 3.1 to 6.0 */
    transition: all 300ms ease-out;
}

/*.project-square:hover {
	background-position: 47% 66%;
    -webkit-transition: background-position 100ms; /* For Safari 3.1 to 6.0 */
   /* transition: background-position 100ms cubic-bezier(.24,.8,.43,.99);
}*/

/*.project-square:hover  {
	background-color: #F5F5F5;
	background-position: center;

	-webkit-transition: background-color 300ms; 
    transition: background-color 300ms;
    transition-timing-function: ease-out;


}*/

.project-square:hover .overlay {
	background-color: rgba(255,255,255, .18);
	-webkit-transition: background-color 300ms; 
    transition: background-color 300ms;
    transition-timing-function: ease-out;
}

.project-square:hover .home-project-title {
	color: #1c1c1c;

	-webkit-transition: color 400ms; /* For Safari 3.1 to 6.0 */
    transition: color 400ms;
    transition-timing-function: ease-out;

}

.project-square:hover .home-project-subtitle {
	color: #1c1c1c;

	-webkit-transition: color 300ms; /* For Safari 3.1 to 6.0 */
    transition: color 300ms;
    transition-timing-function: ease-out;

}
.project-square:hover .home-project-title-light {
	color: #26B9E5;

	-webkit-transition: color 400ms; /* For Safari 3.1 to 6.0 */
    transition: color 400ms;
    transition-timing-function: ease-out;

}

.project-square:hover .home-project-subtitle-light {
	color: #3e3e3e;

	-webkit-transition: color 300ms; /* For Safari 3.1 to 6.0 */
    transition: color 300ms;
    transition-timing-function: ease-out;

}

/*.playimage {
	color: #ffffff !important;
}*/

.home-project-title{
	text-align: left;
	font-size: 1.2rem;
	font-weight: 700;
	letter-spacing: .02em;
	color:#eeeeee;

}
.home-project-subtitle{
	padding-top: 3px;
	text-align: left;
	font-size: .8rem;
	font-weight: 500;
	letter-spacing: .02em;
	color:#eeeeee;
	width: 70%;

}

.

.light{
	color:#ffffff;
}


.overlay {
	z-index: 2;
	width:100%;
	background-color: rgba(0,0,0, .6);
	height:400px;
	position: relative;
}


.content-block {

	padding-top: 50px;
	padding-bottom: 300px;
	padding-left: 48px;
	padding-right: 30px;
}

@media only screen and (max-width: 920px) {

	.wrapper-index {
		width: 90%;
		padding-top: 34px;
	}

}



@media only screen and (max-width: 767px) { 

	.shift {
		margin: 0 auto;
	}

	.content-block {
		padding-top: 30px;
		padding-left: 30px;
	}

	.wrapper-index {
		width: 100%;
		padding-top: 34px;
	}

	.project-square {
		display: block;
		width:80%;
		margin: 10px auto;
	/*	padding-right: 8px;*/
	/*	border-radius: 2px;*/
		box-shadow: initial;
	    height: 100%;
	    vertical-align: top;
	    background-size: 100%;
	    background-repeat: no-repeat;
	   	background-position: initial;
		-webkit-transition: all 300ms cubic-bezier(0.01, 0.98, 0.9, 1.01); /* For Safari 3.1 to 6.0 */
	    transition: all 300ms cubic-bezier(0.01, 0.98, 0.9, 1.01);

		
	}

}




