body {
	background-color: #f3f3f3;
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;

}

/* Body */

.color1 {
	background-color: #00CEFC;
}

.color2 {
	background-color: #54DEFD;
}

.color3 {
	background-color: #26AAE0;
}

.color4 {
	background-color: #B5ffDB;
}


.home-grid {
	position: relative;
	max-width:1030px;
	margin: 0 auto;
	display:block;
	padding-top: 170px;
	padding-bottom: 100px;
}

.project{
	display:inline-block;
	width:33%;
/*	padding-left: 8px;
	padding-right: 8px;*/
	padding-top: 50px;
}

/*.project img{
	
}
*/
.project-image {
	width: 340px;
	/*height: 300px;*/
	background-position: center; 
	/*background-color: #8E7194;*/
}



a {
	color:#000000;
	text-decoration: none;
}




.project-image:hover{
	background-color: #F5F5F5;
	background-position: center;

	-webkit-transition: background-color 300ms; /* For Safari 3.1 to 6.0 */
    transition: background-color 300ms;
    transition-timing-function: ease-out;

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2),0 5px 5px 0 rgba(0,0,0,0.24);


}


/*.project:hover .home-project-title {
*/
/*
	-ms-transform: translate(0,-10px); 
    -webkit-transform: translate(0,-10px); 
    transform: translate(0,-10px); 
	-webkit-transition: translate 600ms;
    transition: translate 600ms;
    transition-timing-function: ease-out;*/


/*	-webkit-transition: position 600ms; /* For Safari 3.1 to 6.0 */
/*    transition: position 600ms;
    transition-timing-function: ease-out;

    -webkit-transform: translate(0, 5px);
    transform: translate(0, 5px);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2),0 5px 5px 0 rgba(0,0,0,0.24);
}
*/


.home-project-title{
	padding-top: 20px;
	text-align: center;
	font-size: 12pt;
	font-weight: 700;
	letter-spacing: .02em;
	color:#3e3e3e;

}
.home-project-subtitle{
	padding-top: 3px;
	text-align: center;
	font-size: 11pt;
	font-weight: 500;
	letter-spacing: .02em;
	color:#3e3e3e;
}
.home-project-company{
	padding-top: 5px;
	text-align: center;
	font-size: 10pt;
	font-weight: 100;
	letter-spacing: .02em;
	color: 
}


