body {
	background-color: #ffffff;
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;

}

a {
	text-decoration: none;
}
.about-container {
	position: relative;
	width:60%;
	max-width:1030px;
	margin: 0 auto;
	display:block;
	padding-top: 80px;
	padding-bottom: 100px;
}

h1 {
	font-size: 2rem;
	font-weight: 700;
	margin: 0;
	margin-left: 20px;
	color: #e8e8e8
}

h2 {
	font-size: 1.6rem;
	font-weight: 300;
	margin: 0;
	margin-bottom:20px;
	margin-left: 70px;
}

.content {
	font-size: .9rem;
	font-weight: 400;
	margin: 0;
	margin-bottom:20px;
	margin-left: 70px;

}
.text-area {
    max-width: 100%;
    height: 670px;
    display: block;
    padding: 20px 20px 20px 20px;
    border: none;
    -webkit-appearance: none;
    margin: 0 auto;
    width: 100%;
    /* margin-top: 130px; */
    font-size: 18px;
    color: #222;
}

textarea {
    overflow: auto;
    vertical-align: top;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    flex-direction: column;
    resize: auto;
    cursor: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    box-sizing: border-box;
    margin: 0em 0em 0em 0em;
	resize: none;

}

textarea:focus {
	box-sizing: border-box;
	outline: none;
}

.button-row-right {
	display: inline-block;
	position: fixed;
	margin-right: 0;
	bottom: 40px;
	right: 20%;

}

.button-row-left {
	display: inline-block;
	position: fixed;
	bottom: 40px;
	margin-right: 0;
}


.button {
	display: inline;
	padding-left: 20px;
    padding-right: 20px;
    padding-top:4px; 
    padding-bottom:4px;
    line-height: 25px;
    font-size: 16px;
    color: #b9b9b9;
    border-radius: 80px;
	border: solid 1px #e4e4e4;
	margin-left: 6px;
	cursor: pointer;
}

.clear {
	border: none;
}

.save {
	background-color: #b9b9b9;
	color: #ffffff;
    border: solid 1px #b9b9b9;
}

.saved {
	font-size: 100px;
	font-weight: bold;
	background-color: rgba(27, 255, 121, .8);
	color: #ffffff;
	line-height: 800px;
	opacity: 1;
	margin: 0 auto;
	position: absolute;
	bottom: 0%;
	right: 0;
	display: none;
	text-align: center;
	width: 100%;
	height: 100%
}

@media only screen and (max-width: 767px) { 

	.button-row-right {
		margin: 0 auto;
		display: block;
		float: initial;
		bottom: 20px;
		right: initial;
	}

	.no-mobile {
		display: none;
	}

	.button-row-left{
		margin: 0 auto;
		display: block;
		float: initial;
		bottom: 60px;
		left: initial;
		right: initial;
	}
	.text-area {
		padding: 0;

	}

	.about-container {
		position: relative;
		width:79%;
		max-width:1030px;
		margin: 0 auto;
		display:block;
		padding-top: 40px;
		padding-bottom: 100px;
	}

	h1 {
		font-size: 2rem;
		font-weight: 500;
		margin: 0;
		margin-bottom:20px;

	}
	h2 {
	font-size: 1rem;
	font-weight: 300;
	margin: 0;
	margin-bottom:20px;
	}

	.content {
		font-size: .9rem;
		font-weight: 500;
		margin: 0;
		margin-bottom:20px;
}

}
