.header {
	z-index: 30;
	position: fixed;
	background-color: #EDFFFF;
	width:100%;
	height: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	display: inline;
}

.title h1 {
	margin:auto;
	float:left;
	margin-left: 20px;
	font-size:12pt;
	letter-spacing: .01em;
	font-weight: 600;
	padding-top: 4px;
}

.title h2 {
	margin:auto;
	text-align: center;
	font-size:8pt;;
	font-weight: 100;
	padding-top: 5px;
	padding-bottom: 5px;
	letter-spacing: 1px;
	color: #696969;
}

/* Header */


.nav {
	margin:auto;
	text-align: center;
	list-style-type: none;
	padding: initial;
	padding-top: 4px;
	float: right;

}

.nav-item {
	text-align: center;
	display:inline;
	font-size: 9pt;
	font-weight: lighter;
	padding-left: 1rem;
	padding-right: 1rem;
	letter-spacing: .5px;
}