<style>

.agency-container {
	width:100%;
}

.full-cell {

}

.half-cell {

}

.third-cell {

}

.full-cell .half-cell .third-cell:hover {

}

.pitch-image {
	background-color: #f5f5f5;
	display: block;
	background-size: cover;
	background-position: center;
}

</style>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,900' rel='stylesheet' type='text/css'>

<link rel="stylesheet" type="text/css" href="css/dynamic_header.css">
<link rel="stylesheet" type="text/css" href="css/index.css">
<link rel="stylesheet" type="text/css" href="css/play.css">
<link rel="stylesheet" type="text/css" href="css/footer.css">

</head>

<body>

	<div class="agency-container">
		<div class="full-cell">

			<a href="#"></a>
			<div class="image-container">
				<div class="pitch-image">
				</div>
			</div>
			<div class="pitch-content">
				<div class="pitch-header"> Design by Oaklandish </div>
				<div class="pitch-header"> Design by Oaklandish </div>





</body>
</html>

